body {
  width: 414px;
  height: 884px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;
  border: white solid 5px;
}
.title {
  width: 350px;
  height: 110px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blank {
  color: black;
}
.title__name {
  font-size: 25px;
  color: white;
}
.fa-lg {
  color: white;
}
.main {
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.song__img {
  height: 140px;
  width: 140px;
  border-radius: 20px;
}

.main__song {
  width: 215px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.song__title {
  width: 180px;
  height: 90px;
  font-size: 30px;
}

.song__singer {
  width: 180px;
  height: 40px;
  font-size: 18px;
}
.button {
  width: 400px;
  height: 125px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.button__play {
  width: 175px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: white solid 2px;
  border-width: 2px 2px 5px 2px;
}
.button__play_span {
  font-size: 25px;
  padding: 15px;
}
.button__like {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: white solid 2px;
  border-width: 2px 2px 5px 2px;
}
.fa-heart {
  color: tomato;
}
.button__plus {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: white solid 2px;
  border-width: 2px 2px 5px 2px;
}

.select {
  width: 400px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.select__list {
  width: 400px;
  height: 95px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.select__img {
  width: 80px;
  height: 80px;
  border-radius: 15px;
}
.select__song {
  width: 300px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.select__song__title {
  width: 280px;
  height: 45px;
  font-size: 23px;
}
.select__song__singer {
  width: 280px;
  height: 30px;
}

span {
  color: white;
}
.span {
  color: white;
}
.singer {
  color: gray;
}
